# Binarios y carpetas de compilación
Debug/
Release/
bin/
obj/
__pycache__/

# Archivos temporales del IDE
.settings/
.launches/
.externalToolBuilders/

# Archivos pesados de salida
*.elf
*.bin
*.map
*.list

# Otros
.DS_Store
Thumbs.db